h1 {
    font-family: Northwell, display, serif;
    color: white;
    padding: 0;
    margin: 0;
    font-size: calc(90px + 12 * ((100vw - 320px) / 1140));
    line-height: 1;
    font-weight: normal;
    align-self: center;
    padding-bottom: 20vh;
    max-width: 34rem;
  
}
  
.verticalBC {
    font-size: 14px;
    letter-spacing: 0.025rem;
    color: white;
    position: fixed;
    bottom: 25vh;
    left: 5vw;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    color: rgba(115, 93, 120, 0.7);
}
  
button {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    display: inline-block;
    background: none;
	color: #735d78;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}

.verticalBC a {
    text-decoration: inherit !important;
    color: inherit !important;
    margin: 0 5px 0 5px !important;
}

button:hover {
    color: #f7d1cd;
    text-decoration: none;
}

button:active {
    color: white;
    text-decoration: none;
  }

button:focus {
    color: white;
    text-decoration: none;
}

.selected {
    color: red;
    text-decoration: none;
}


.mySection {
    margin-top: 20vh;
}


.mySection h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 3em;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 800;
}

.sectionContent {
    display: flex;
}

.sectionContent h4 {
    font-style: italic;
}

.inContent {
    width: 60%;
    padding: 0 30px 0 0;
}

.inContent li, .inContent p {
    font-size: 1.2em;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.inContent li i {
    margin-right: 5px;
}

.inImg {
    width: 40%;
}


.item img {
    width: 100%;
    
}

.quarter-break {
    margin-top: 14.5vh;
}




  /* ------ TABLET ------- */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .sectionContent {
        display: flex;
        flex-flow: column-reverse; 
    }
}

/* ------ MOBILE ------- */
@media screen and (max-width: 767px) {
    .sectionContent {
        display: flex;
        flex-flow: column-reverse; 
    }
}